@charset "UTF-8";

body {
    margin:0px;
    padding:0px;
    background-color: azure;
    font-size: 18px;
}

#content_container {
    margin-top: 50px;
    margin-left:auto;
    margin-right:auto;
    width:70%;
    height: 750px;
}

#top_bar_black {
    width:100%;
    height:90px;
    background-color:#000000;

}

#wrapper {
    margin-left:auto;
    margin-right:auto;
    width:900px;
    height: 750px;
}

.nav_button {
    width: 70px;
    color:#FFFFFF;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:15px;
    margin-left:5px;
    padding: 20px;
    line-height: 45px;
    text-align:center;
    float:left;
}

.nav_button  a:visited {
    color:white;
}

.nav_button  a:link {
    color:white;
}

.nav_button:hover {
    background-color:#333333;
}

#header_mainline {

    float: left;
    font-style: italic;
    color: white;
    margin-left: 100px;
    font-size: 40px;
    line-height: 90px;
}


.news_content_title {
    font-size:25px;
    color:#000000;
    font-style: italic;
}

.news_content_date {
    font-size:15px;
    color: blue;
    width: 100%;
    font-style: italic;
}

.news_content_text {
    font-size:20px;
    color:#333333;
    width: 100%;
    font-style: normal;
}

.dataNews {
    float:left;
    margin-bottom: 20px;
    width: 100%;
}

#paginator {
    text-align: center;
}

.comment {
    font-size: 20px;
    margin-bottom:20px;
    padding: 20px;
    background-color: dimgray;
    border-radius: 15px;
    color: #FFFFFF;
}

#commentBlock {    
    margin-top: 20px;
}
.col50 {
    float: left;
    width: 45%;
    text-align: left;
    margin-left: 5%;
} 

#form {
    visibility: hidden;
}

#newsTable {
    margin-bottom: 20px;
    border-collapse: collapse; /*убираем пустые промежутки между ячейками*/
    border: 1px solid grey; /*устанавливаем для таблицы внешнюю границу серого цвета толщиной 1px*/
}
th,tr,td {
    border: 1px solid gray;
    padding: 5px;
}
td {
    padding-left: 5px;
    padding-right: 5px;
}


